<div id="dominiClass_gradesPage" class="h-screen w-full">
  <div class="flex flex-col h-screen w-full">
    <!--Header (Assignments)-->
    <div
      id="gradesPage_header"
      class="h-16 w-full flex justify-start items-center bg-[#FF6010]"
    >
      <h1 class="text-xl font-sans font-bold text-slate-50 ml-8">Grades</h1>
    </div>

    <div class="h-full w-full flex justify-center bg-[#F6F4F3]">
      <table
        class="w-[90%] sm:w-3/4 h-1/4 border-collapse border-separate border-spacing-y-3 mt-20"
      >
        <tbody
          class="border border-black text-left text-sm sm:text-base indent-6 bg-slate-50"
        >
          <tr class="h-12">
            <td id="foreignLanguage" class="border border-black">
              Foreign Language
            </td>
            <td id="foreignLanguage_grade" class="border border-black">
              92.05
            </td>
          </tr>
          <tr class="h-12">
            <td id="methodOfResearch" class="border border-black">
              Method of Research
            </td>
            <td id="methodOfResearch_grade" class="border border-black">
              95.55
            </td>
          </tr>
          <tr class="h-12">
            <td id="networkManagement" class="border border-black">
              Network Management
            </td>
            <td id="networkManagement_grade" class="border border-black">
              97.15
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
